
/* copy btn css */
.toolbar-item button{
  border: 1.3px solid white!important;
  color: white!important;
  border-radius: 20px!important;
  padding: 5px 10px!important;
  font-size: 20px!important;
  font-weight: bold!important;
}
.toolbar-item button:hover{
  color: red!important;
  background-color: greenyellow!important;
}
/* main css */

